
body {
  min-height: 75rem;
  padding-top: 4.5rem;
}


#Comparison2.shown {
  opacity: 1;
  max-width: 100%;
  overflow: hidden;
  visibility:visible;
  transition: max-width 2s ease, opacity 2s ease;
}

#Comparison2{
  opacity: 0;
  max-width: 0;
  overflow:hidden;
  visibility:hidden;
  pointer-events: none;
  transition: max-width 2s ease, opacity 2s ease;
}

