<!doctype html>
<html lang="en">
  <head>
    <!--
      This is like the setup for the html file -- Title is like the "name" of the tab
      the first link is a CDN to base bootstrap
      the first script is a CDN (content Delivery Network) to bootstrap's Javascript
      We'll add our own css and script file underneath these to overwrite color and add JS functions we want
    -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Advanced Search Page</title>


    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
      crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static', filename='advanced_search.js') }}" ></script>
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}" />
  </head>


  <body>
    <header id="navJEFFRS">
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark px-3">
        <a class="navbar-brand" href="/">JEFFRS</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link active" href="/search">Advanced Search</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/compare"
                >Comparison Tool</a
              >
            </li>
          </ul>
           <form class="d-flex ms-auto col-3 align-items-center" role="search">
              <div class="input-group w-75">
                <input
                  type="text"
                  id="athlete-search"
                  class="form-control"
                  placeholder="Enter athlete name"
                />
                <button class="btn btn-secondary" type="button">Search</button>
              </div>
            </form>
        </div>
       
      </nav>
    </header>


    <main class="pt-3 mt-3">


      <!-- Search Form -->
      <div class="container-md py-5">
        <form id="advancedSearchForm" class="mb-4 p-3 bg-body-tertiary border rounded-4" method="GET" action="/api/search">
          <h4 class="mb-4">Advanced Search:</h4>


          <!-- Row 1: Event + Gender (required) -->
          <div class="row mb-3">
            <div class="col-6">
              <label class="form-label">Event</label>
              <div class="input-group">
                <button class="btn-dark btn-outline-secondary dropdown-toggle rounded-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Event
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#" onclick="document.getElementById('event').value='100Meters'">100Meters</a></li> <!-- i know there is a better way to do this but will fix that post draft :)-->
                  <li><a class="dropdown-item" href="#" onclick="document.getElementById('event').value='200Meters'">200Meters</a></li>
                  <li><a class="dropdown-item" href="#" onclick="document.getElementById('event').value='400Meters'">400Meters</a></li>
                  <li><a class="dropdown-item" href="#" onclick="document.getElementById('event').value='800Meters'">800Meters</a></li>
                  <li><a class="dropdown-item" href="#" onclick="document.getElementById('event').value='1500Meters'">1500Meters</a></li>
                  <li><a class="dropdown-item" href="#" onclick="document.getElementById('event').value='5000Meters'">5000Meters</a></li>
                  <li><a class="dropdown-item" href="#" onclick="document.getElementById('event').value='400Hurdles'">400Hurdles</a></li>
                  <li><a class="dropdown-item" href="#" onclick="document.getElementById('event').value='LongJump'">LongJump</a></li>
                  <li><a class="dropdown-item" href="#" onclick="document.getElementById('event').value='TripleJump'">TripleJump</a></li>
                  <li><a class="dropdown-item" href="#" onclick="document.getElementById('event').value='PoleVault'">PoleVault</a></li>
                  <li><a class="dropdown-item" href="#" onclick="document.getElementById('event').value='ShotPut'">ShotPut</a></li>
                  <li><a class="dropdown-item" href="#" onclick="document.getElementById('event').value='Decathlon'">Decathlon</a></li>
                </ul>
                <input type="text" class="form-control" name="event" id="event" placeholder="Select or enter event" required />
              </div>
            </div>


            <div class="col d-flex align-items-center">
              <fieldset class="border-0">
                <legend class="col-form-label pt-0">Gender</legend>
                <div class="form-check form-check-inline">
                  <input type="radio" name="gender" class="form-check-input" id="genderMen" value="m" required />
                  <label class="form-check-label" for="genderMen">Men</label>
                </div>
                <div class="form-check form-check-inline">
                  <input type="radio" name="gender" class="form-check-input" id="genderWomen" value="f" />
                  <label class="form-check-label" for="genderWomen">Women</label>
                </div>
              </fieldset>
            </div>
            <div class="col d-flex align-items-center">
              <fieldset class="border-0">
                <legend class="col-form-label pt-0">Duplicates</legend>
                <div class="form-check form-check-inline">
                  <input type="radio" name="duplicates" class="form-check-input" id="duplicatesTrue" value="True" required />
                  <label class="form-check-label" for="duplicatesTrue">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                  <input type="radio" name="duplicates" class="form-check-input" id="duplicatesFalse" value="False" />
                  <label class="form-check-label" for="duplicatesFalse">No</label>
                </div>
              </fieldset>
            </div>
          </div>


          <!-- Row 2: Teams + Season
           
          use most similar string  -->
          <div class="row mb-3">
            <div class="col">
              <label class="form-label">Team</label>
              <div class="input-group">
                <button class="btn-dark btn-outline-secondary dropdown-toggle rounded-2" type="button" data-bs-toggle="dropdown">
                  Teams
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#" onclick="document.getElementById('team').value='Carleton'">Carleton</a></li>
                  <li><a class="dropdown-item" href="#" onclick="document.getElementById('team').value='St. Olaf'">St. Olaf</a></li>
                  <li><a class="dropdown-item" href="#" onclick="document.getElementById('team').value='Ausburg'">Ausburg</a></li>
                  <li><a class="dropdown-item" href="#" onclick="document.getElementById('team').value='Bethel'">Bethel</a></li>
                  <li><a class="dropdown-item" href="#" onclick="document.getElementById('team').value='Concordia-Moorhead'">Concordia-Moorhead</a></li>
                  <li><a class="dropdown-item" href="#" onclick="document.getElementById('team').value='Gustavus Adolphus'">Gustavus Adolphus</a></li>
                  <li><a class="dropdown-item" href="#" onclick="document.getElementById('team').value='Hamline'">Hamline</a></li>
                  <li><a class="dropdown-item" href="#" onclick="document.getElementById('team').value='Macalester'">Macalester</a></li>
                  <li><a class="dropdown-item" href="#" onclick="document.getElementById('team').value='St. Scholastica'">St. Scholastica</a></li>
                  <li><a class="dropdown-item" href="#" onclick="document.getElementById('team').value='St. Benedict'">St. Benedict</a></li>
                </ul>
                <input type="text" class="form-control" name="team" id="team" placeholder="Select or enter team" />
              </div>
            </div>


            <div class="col">
              <label class="form-label">Season</label>
              <div class="input-group">
                <button class="btn-dark btn-outline-secondary dropdown-toggle rounded-2" type="button" data-bs-toggle="dropdown">
                  Season
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#" onclick="document.getElementById('season').value='Outdoor 2025'">Outdoor 2025</a></li>
                  <li><a class="dropdown-item" href="#" onclick="document.getElementById('season').value='Indoor 2025'">Indoor 2025</a></li>
                  <li><a class="dropdown-item" href="#" onclick="document.getElementById('season').value='Outdoor 2025'">Outdoor 2024</a></li>
                  <li><a class="dropdown-item" href="#" onclick="document.getElementById('season').value='Indoor 2025'">Indoor 2024</a></li>
                  <li><a class="dropdown-item" href="#" onclick="document.getElementById('season').value='Outdoor 2025'">Outdoor 2023</a></li>
                  <li><a class="dropdown-item" href="#" onclick="document.getElementById('season').value='Indoor 2025'">Indoor 2023</a></li>
                  <li><a class="dropdown-item" href="#" onclick="document.getElementById('season').value='Outdoor 2025'">Outdoor 2022</a></li>
                  <li><a class="dropdown-item" href="#" onclick="document.getElementById('season').value='Indoor 2025'">Indoor 2022</a></li>
                </ul>
                <input type="text" class="form-control" name="season" id="season" placeholder="Select or enter season" />
              </div>
            </div>
          </div>


          <!-- Row 3: Meet + Better Than -->
          <div class="row mb-4">
            <div class="col">
              <label class="form-label">Meet</label>
              <div class="input-group">
                <button class="btn-dark btn-outline-secondary dropdown-toggle rounded-2" type="button" data-bs-toggle="dropdown">
                  Meet
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#" onclick="document.getElementById('meet').value='MIACOutdoorChampionships'">MIACOutdoorChampionships</a></li>
                  <li><a class="dropdown-item" href="#" onclick="document.getElementById('meet').value='HamlineInvitational-Teams'">HamlineInvitational-Teams</a></li>
                  <li><a class="dropdown-item" href="#" onclick="document.getElementById('meet').value='BethelInvitational'">BethelInvitational</a></li>
                  <li><a class="dropdown-item" href="#" onclick="document.getElementById('meet').value='InvitationMeetoftheUnSaintly'">MeetoftheUnSaintly</a></li>
                  <li><a class="dropdown-item" href="#" onclick="document.getElementById('meet').value='MIACIndoorChampionships'">MIACIndoorChampionships</a></li>
                  <li><a class="dropdown-item" href="#" onclick="document.getElementById('meet').value='GopherClassic'">GopherClassic</a></li>
                  <li><a class="dropdown-item" href="#" onclick="document.getElementById('meet').value='JackJohnsonClassic'">JackJohnsonClassic</a></li>
                </ul>
                <input type="text" class="form-control" name="meet" id="meet" placeholder="Select or enter meet" />
              </div>
            </div>


            <div class="col">
              <label class="form-label">Mark Better Than...</label>
              <input type="text" class="form-control" name="mark" id="mark" placeholder="e.g. 10.75" />
            </div>
          </div>


          <div class="d-grid">
            <button type="submit" class="btn btn-primary btn-lg">Search</button>  <!-- THIS IS THE SEARCH BUTTON -->
          </div>
        </form>
</div>




      <div class="container-md">
        <div id="advancedSearchTable"></div>
        <div id="test"></div>
      </div>
    </main>
  </body>
</html>



