<!DOCTYPE html>
<html>
<head>
    <title>MIAC API Design</title>
</head>
<body>
    <pre>
        Soren Kaster
        Indy Lyness
        Daniel Scheider

        REQUEST: /meets/?season={season}

            GET parameters
                
                season (Optional, default='') - only return meets from the specified season
            
            RESPONSE: a JSON list of all meets from the specified season. Each meet will be a dictionary with the following fields.

                id - (INT) unqiue id for the meet 
                meet_name - (TEXT) name of the meet 
                season_category - (TEXT) whether the meet was indoor or outdoor 

            EXAMPLE: /meets/?season=Outdoor%202025

                [
                    {
                        "id": 100,
                        "meet_name": "MIAC Outdoor Championships",
                        "season_category": "Outdoor"
                    },
                    etc.
                ]

         REQUEST: /events/?season={season}

            GET parameters
                
                season (Optional, default='') - only return events from the specified season
            
            RESPONSE: a JSON list of all events from the specified season. Each event will be a dictionary with the following fields.

                id - (INT) unqiue id for the meet 
                event_name - (TEXT) name of the meet 
                count - (INT) the number of performances from that event for the current season.

            EXAMPLE: /events/?season=Outdoor%202025

                [
                    {
                        "id": 1,
                        "event_name": "100 Meters",
                        "count": 2048
                    },
                    etc.
                ]



        REQUEST: /seasons/

            GET parameters
                none

            RESPONSE: a JSON dictionary of the seasons in the dataset with their season category

                [
                    {
                        "season_name": Outdoor 2025, 
                        "season_category": Outdoor
                    },
                    {
                        "season_name": Outdoor 2024, 
                        "season_category": Outdoor
                    }, 
                    etc..
                ]

            EXAMPLE:

                /teams/

                [Carleton, St. Olaf, etc..]

        REQUEST: /teams/

            GET parameters
                none

            RESPONSE: a JSON dictionary of the teams in the dataset

                [
                        {     
                            "school_name": "Carleton", 
                        },
                        
                        {
                            "school_name": "St. Olaf", 
                        }
                    ]

            EXAMPLE:

                /teams/

                [Carleton, St. Olaf, etc..]

        
        REQUEST: /search/?gender={gender}&event={event}&mark={mark}&team={team}&meet={meet}&season={season}&duplicates={duplicates}&display_number={display_number}
            GET parameters

                event (Mandatory, default: '100 Meters') - return only performances from the specified event

                gender (Mandatory, default: 'm') - retrun only performances from the specified gender category

                meet (Optional, default: '') - return only performances from the specified meet
            
                mark (Optional, default: ‘’) – return only performances of athletes who have a competition mark better than ‘mark’ in specified event. For field events, this is 
                    a number interpreted in meters, for track events this is a time (mm:ss.xx) and for the decathlon/heptathlon this is a point score.
                
                team (Optional, default: ‘’) -- return only marks by athletes from the specified team (for an exact string match).
                
                season(Optional,default: ‘Outdoor 2025’) – return only marks from selected season
            
                duplicates (Optional, default: ‘False’) - Boolean value for whether duplicate athletes are allowed. If true, will return all marks, while if false
                    will only return the best mark for each athlete
            
                display_number(Optional, default: 20) – maximum number of marks to return
            
            
            RESPONSE: a JSON list of dictionaries, each of which represents one mark from the specified event and gender, sorted by mark value 
                (ascending or descending depending on track vs field event). Each dictionary in this list will have the following fields.
            
            athlete_name -- (TEXT) the athletes last,first name
            athlete_id - (INT) unique id for the athlete
            event_name - (TEXT) what event the performance is for
            season_name - (TEXT) what season the performance is from
            mark – (TEXT) the athletes value for that specific mark.
            team - (TEXT) what team the athlete who recorded the performance is from
            meet - the meet that the mark was recorded at.
            result_date – (TEXT) the date the athlete scored this mark
            num_marks – (int) if duplicate is false, returns the total number of times the athlete has raced faster than that mark. If duplicate is 
                true, returns 'NULL', as all of the filtered marks will be displayed individually.
            
            
            EXAMPLE:
                /marks?gender=m&event=*00%20Meters&mark=1:55&display_number=2
            
                    [
                        {
                            "athlete_name": "Daniel Scheider", 
                            "athlete_id": 420,
                            "event_name": "800 Meters",
                            "season_name": "Outdoor 2025",
                            "mark": "1:52.67",
                            "team": "Carleton",
                            "meet": "MIAC Conference Championships",
                            "resukt_date": "5/2/2025", 
                            "num_marks": 5
                        },
                        
                        {
                            "athlete_name": "Indy Lyness",
                            "athlete_id": 69,
                            "event_name": "800 Meters",
                            "season_name": "Outdoor 2025",
                            "mark": "1:53.54", 
                            "team": "Carleton",
                            "meet": "Rider/Bolstorff Invitational", 
                            "result_date": "4/26/2025", 
                            "num_marks": 11
                        }
                    ]
                
        
        REQUEST: /athlete/athlete_id
        
            RESPONSE: a JSON dictionary where each dictionary representing the specified athlete. The dictionary will have the following fields.
            
                name – (TEXT) the athletes name
                school – (TEXT) the athletes school
                marks - (LIST) list of dictionaries, where each dictionary is a mark for the athlete containing:
                    event - (TEXT) event that the mark is from
                    mark - (TEXT) time/distance/points for the performance
                    meet - (TEXT) meet that the mark was recorded at
                    date - (TEXT) date that the mark was recorded
            
            EXAMPLE:
                /athlete/23
            
                    { 
                        "name" : "Lyness,Indy",
                        "school" : "Carleton",
                        "marks": [
                                    {
                                        "event": "800Meters", 
                                        "mark": "1:53.54", 
                                        "date": "4/26/25",
                                        "meet": "Rider/Bolstorff Invitational"
                                    },
            
                                    {
                                        "event": "400Meters", 
                                        "mark": "45.24", 
                                        "date": "5/20/25", 
                                        "meet": "NCAA DIII Outdoor Track and Field Championships"
                                    },
                                    .
                                    .
                                    .,
                                    {
                                        .
                                        .
                                        .
                                    }
                                ]
                    }
            
        REQUEST: /list/?season={season}&limit={limit}
            
            GET parameters

                limit (Optional, default: 20) – the number of results for each event to display
                season (Mandatory, default: "Outdoor 2025") - the season to display the performance list for
            
            
            RESPONSE: a JSON dictionary with a key for each gender category associated with a dictionary, where each key in that dictionary is an event and each value 
            is a list of dictionaries with specified length of the top performances for each event. Each of these dictionaries will represent the top mark from an athlete, 
            and will have the following fields.
            
                athlete_name – (TEXT) - name of the athlete who recorded the mark
                id - (INT) unique id associated with the athlete
                school – (TEXT) school that the athlete attends
                mark – (TEXT) athlete’s performance for the event
                date – (TEXT) date that the mark was recorded
                meet – (TEXT) meet that the mark was recorded at
            
            EXAMPLE:
                /list?num_entries=2&season=Outdoor%202025

                    {
                        "m": {
                                    "100Meters": [
                                                    {
                                                        "athlete_name": "Landen Liu", 
                                                        "school": "Bethel", 
                                                        "mark": "10.57", 
                                                        "date": "4/20/2025", 
                                                        “meet”: "Bethel Invitational"
                                                    }, 
                        
                                                    {
                                                        "athlete_name": "Jeff Ondich", 
                                                        "school": "Carleton", 
                                                        "mark": "10.99", 
                                                        "date": "4/25/2025", 
                                                        "meet": "CS 257 Jamboree"
                                                    }
                                                ], 
                                    “200Meters”: [
                                                    {
                                                        "athlete_name": "Komodo Jamison", 
                                                        .
                                                        .
                                                        .
                                                    },
                        
                                                    {
                                                        .
                                                        .
                                                        .
                                                    }
                                                ],
                                                .
                                                .
                                                .,
                                    "...":       [
                                                    .
                                                    .
                                                    .
                                                ]
                                },
                    "f": {
                                    .
                                    .
                                    .
                                }
                    }
            
            
        
        REQUEST: /athletes?search={search_entry}
            ## SOREN DOING THIS
            GET parameters
            search_entry (Optional, default: '') -- only return athletes whose first or last name contains search_entry
            
            
            RESPONSE: a JSON list of dictionaries where each dictionary has the following fields.
            
                name – (TEXT) the athletes name
                school – (TEXT) the athletes school
            
            EXAMPLE:
                /athletes?search=soren
            
                    [
                        {
                            "name": "Kaster,Soren",
                            "school": Carleton"
                        },
            
                        {
                            "name": "Smith,Soren,
                            "school": "St. Olaf"
                        },
            
                        {
                            "name": "Sorenson,Jeff",
                            "school": "Bethel"
                        }
                    ]
            
            
        
        
    </pre>
</body>
</html>
