<!DOCTYPE html>
<html>
<head>
    <title>MIAC Performances API reference</title>
</head>
<body>
    <pre>MIAC Performances API: endpoint reference
All responses are in JSON

REQUEST: /help
RESPONSE:
    This message

REQUEST: /{gender}/{event_id}[?lower={LOWER}&amp;upper={UPPER}&amp;unique={UNIQUE}&amp;conversion={CONVERSION}]
RESPONSE:
    A list of performances for the specified event and gender that also match the specified GET parameters. Gender can be
    'm' or 'f' and event must be an exact string match (e.g. '400 Meters', '3000 Steeplechase', '4 x 800 Relay', etc.)

        lower, string: reject any performances with a time faster than or mark less than the given time/mark (e.g. '15:30' or '12.32m' or '13'8")
        upper, string: reject any performances with a time slower than or mark further than the given time/mark
        unique, bool: reject any performances that are not the best performance for a given athlete
        conversion, bool: for field events, recognize upper and lower as feet/inches format (default is meters)

    </pre>
</body>
</html>

